
import("mlt")
import("variables")
import("basefun")
import("tram")
importFrom("stats", "coef", "model.frame", "model.matrix", "na.omit",
             "predict", "quantile", "variable.names", "logLik", "vcov", "confint")
importFrom("graphics", "plot", "lines", "polygon")
importFrom("stats", "update", "residuals")
importFrom("graphics", "axis", "box", "points")
importFrom("grDevices", "rgb")

export(cotram, confband)

S3method("as.mlt", "cotram")
S3method("mkgrid", "cotram")
S3method("logLik", "cotram")
S3method("plot", "cotram")
S3method("predict", "cotram")
S3method("confband", "cotram")
