
import("mlt")
import("variables")
import("basefun")
import("tram")
importFrom("Matrix", "Diagonal", "Matrix", "bdiag")
importFrom("methods", "as")
importFrom("alabama", "auglag")
importFrom("stats", "coef", "model.frame", "model.matrix", "na.omit",
             "predict", "quantile", "variable.names", "logLik", "vcov", "confint")
importFrom("graphics", "plot", "lines", "polygon")
importFrom("stats", "update", "residuals", "pnorm", "weights")
importFrom("graphics", "axis", "box", "points")
importFrom("grDevices", "rgb")

export(cotram, confband, mcotram)

S3method("as.mlt", "cotram")
S3method("mkgrid", "cotram")
S3method("logLik", "cotram")
S3method("plot", "cotram")
S3method("predict", "cotram")
S3method("confband", "cotram")
S3method("predict", "mcotram")
