
import(basefun)
importFrom(numDeriv, grad, hessian)
importFrom(BB, spg)
importFrom(MASS, ginv)
importFrom(sandwich, estfun)
importFrom(stats, simulate, variable.names, model.matrix, logLik, vcov)

# exportPattern("^[^\\.]")
export(Hessian, Hmlt, R, "coef<-", dmlt, hmlt, mlt,
       model, pmlt, qmlt, smlt, tmlt)

S3method("estfun", "mlt")
S3method("predict", "mlt")
S3method("simulate", "mlt")
S3method("coef", "mlt")
S3method("variable.names", "mlt")
S3method("mkgrid", "mlt")
#S3method("model.matrix", "mlt")
S3method("logLik", "mlt")
S3method("vcov", "mlt")
S3method("coef<-", "mlt")

S3method("variable.names", "model")
S3method("mkgrid", "model")
S3method("model.matrix", "model")
