
import("mboost")
import("mlt")
import("sandwich")
importFrom("quadprog", "solve.QP")
importFrom("methods", "as")
importFrom("basefun", "intercept_basis")
importFrom("stats", "coef", "fitted", "model.matrix", "na.omit", "complete.cases", "logLik", "predict")
import("Matrix")

export("trboost")
