
import("mlt")
import("Formula")
import("multcomp")
import("basefun")
importFrom(sandwich, estfun)
importFrom(stats, coef, logLik, AIC, vcov, predict, confint)
importFrom(variables, mkgrid, as.vars, bounds)

export("ltm")

S3method("coef", "ltm")
S3method("logLik", "ltm")
S3method("AIC", "ltm")
S3method("vcov", "ltm")
S3method("estfun", "ltm")
S3method("predict", "ltm")
S3method("print", "ltm")
S3method("paraboot", "ltm")
S3method("confint", "ltm")
S3method("confband", "ltm")
S3method("summary", "ltm")
S3method("print", "summary.ltm")
S3method("as.mlt", "ltm")
