
import("mlt")
import("Formula")
import("multcomp")
import("basefun")
importFrom(sandwich, estfun)
importFrom(stats, coef, logLik, AIC, vcov, predict, confint)
importFrom(variables, mkgrid, as.vars, bounds)

export("sltm", "as.mlt")

S3method("coef", "sltm")
S3method("logLik", "sltm")
S3method("AIC", "sltm")
S3method("vcov", "sltm")
S3method("estfun", "sltm")
S3method("predict", "sltm")
S3method("print", "sltm")
S3method("confint", "sltm")
S3method("confband", "sltm")
S3method("summary", "sltm")
S3method("print", "summary.sltm")
S3method("as.mlt", "sltm")

# S3method("paraboot", "sltm")
