
import("mlt")
import("partykit")
import("partyNG")
import("Formula")
importFrom("sandwich", "estfun")
importFrom("variables", "mkgrid")
importFrom("libcoin", "ctabs")

import("grid")
importFrom("graphics", "plot")
importFrom("stats", "coef", "logLik", "model.frame", "model.weights",
           "na.pass", "predict", "update")


export(trafotree, traforest)

S3method("coef", "trafotree")
S3method("logLik", "trafotree")
S3method("predict", "trafotree")
S3method("plot", "trafotree")
S3method("predict", "traforest")

