
S3method(coef,tramnet)
S3method(coef,tramnet_Lm)
S3method(estfun,tramnet)
S3method(logLik,tramnet)
S3method(plot,tramnet)
S3method(predict,tramnet)
S3method(print,summary.tramnet)
S3method(print,tramnet)
S3method(residuals,tramnet)
S3method(simulate,tramnet)
S3method(summary,tramnet)
export(cvl_tramnet)
export(elnet_obj)
export(lasso_obj)
export(mbo_recommended)
export(mbo_tramnet)
export(plot_path)
export(prof_alpha)
export(prof_lambda)
export(ridge_obj)
export(tramnet)
import(CVXR)
import(tram)
importFrom(ParamHelpers,generateDesign)
importFrom(ParamHelpers,getParamSet)
importFrom(ParamHelpers,makeNumericVectorParam)
importFrom(ParamHelpers,makeParamSet)
importFrom(basefun,as.basis)
importFrom(grDevices,rgb)
importFrom(graphics,matplot)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,text)
importFrom(lhs,randomLHS)
importFrom(mlr,makeLearner)
importFrom(mlrMBO,makeMBOControl)
importFrom(mlrMBO,makeMBOInfillCritEI)
importFrom(mlrMBO,mbo)
importFrom(mlrMBO,setMBOControlInfill)
importFrom(mlrMBO,setMBOControlTermination)
importFrom(mlt,"coef<-")
importFrom(mlt,as.mlt)
importFrom(mlt,ctm)
importFrom(mlt,mlt)
importFrom(sandwich,estfun)
importFrom(smoof,makeSingleObjectiveFunction)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,getCall)
importFrom(stats,logLik)
importFrom(stats,model.matrix)
importFrom(stats,predict)
importFrom(stats,residuals)
importFrom(stats,simulate)
importFrom(stats,update)
importFrom(stats,variable.names)
importFrom(stats,weights)
importFrom(stats,update.default)
importFrom(utils,object.size)
