
import("mboost")
import("mlt")
importFrom("sandwich", "estfun")
importFrom("basefun", "intercept_basis")
importFrom("stats", "coef", "fitted", "model.matrix", 
           "na.omit", "complete.cases", "logLik", "predict", 
           "model.frame", "model.weights", "variable.names")

export("tbm")
S3method("predict", "tbm_shift")
S3method("predict", "tbm_ctm")
S3method("coef", "tbm")
S3method("logLik", "tbm")
