
importFrom("stats", "variable.names")

export(factor_var, ordered_var, numeric_var, desc, unit, support, bounds,
       is.bounded, mkgrid, as.vars, check)

S3method("c", "var")
S3method("variable.names", "var")
S3method("variable.names", "vars")
S3method("desc", "var")
S3method("desc", "vars")
S3method("unit", "numeric_var")
S3method("unit", "var")
S3method("unit", "vars")
S3method("support", "var")
S3method("support", "vars")
S3method("levels", "factor_var")
S3method("levels", "discrete_var")
S3method("levels", "var")
S3method("bounds", "continuous_var")
S3method("bounds", "discrete_var")
S3method("bounds", "ordered_var")
S3method("bounds", "vars")
S3method("bounds", "default")
S3method("is.bounded", "continuous_var")
S3method("is.bounded", "var")
S3method("is.bounded", "vars")
S3method("mkgrid", "var")
S3method("mkgrid", "continuous_var")
S3method("mkgrid", "vars")
S3method("as.data.frame", "var")
S3method("as.data.frame", "vars")
S3method("as.vars", "data.frame")
S3method("check", "factor_var")
S3method("check", "ordered_var")
S3method("check", "discrete_var")
S3method("check", "continuous_var")
S3method("check", "vars")

